In [1]:
print("hello world")

hello world

In [2]:
x = 10
for i in range(x):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in 'aditya':
    print(i, end='')

aditya

In [1]:
names = ['aditya','akshit']
for i in names:
    print(i)

aditya
akshit

In [6]:
names = ['aditya','akshit']
print(names[0][1])
print(names[1][5])

d
t

In [9]:
total = 0
for number in [2, -3, -5, 16, 9]:
    total = total + number
print(total)

19

In [16]:
total = 0
count = 0
for i in range(10):
    number = int(input("Enter the number of the students : "))
    total = total + number
    count += 1
    avg = total / count
print("The avg of the students are : ", avg)

Enter the number of the students :  98
Enter the number of the students :  76
Enter the number of the students :  71
Enter the number of the students :  87
Enter the number of the students :  83
Enter the number of the students :  90
Enter the number of the students :  57
Enter the number of the students :  79
Enter the number of the students :  82
Enter the number of the students :  94

The avg of the students are :  81.7

#Range

In [3]:
for i in range(5,10):
    print(i, end=" ")

5 6 7 8 9

In [4]:
for i in range(0, 10, 2):
    print(i, end=" ")

0 2 4 6 8

In [6]:
for i in range(10, 0, -2):
    print(i, end=" ")

10 8 6 4 2

In [13]:
#Calcuating the Compound Interest
principal = 1000
rate = 5/100
for year in range(1, 11):
    amount = principal*(1 + rate)**year
    print(f'{year:>2}{amount:>10.2f}')

 1   1050.00
 2   1102.50
 3   1157.63
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

# Break and Conitune Statements

In [14]:
for number in range(100):
    if number == 10:
        break
    print(number, end=" ")

0 1 2 3 4 5 6 7 8 9

In [16]:
for number in range(20):
    if number == 10:
        continue
    print(number, end=" ")

0 1 2 3 4 5 6 7 8 9 11 12 13 14 15 16 17 18 19

#Boolean Operators and, or and not

In [18]:
gender = 'female'
age = 70
if gender == 'female' and age >= 65:
    print('Senior Female')

Senior Female

In [19]:
semester_average = 83
final_exam = 95
if semester_average >= 90 or final_exam >=90:
    print('Student get an A')

Student get an A

# Mean Median and Mode

In [20]:
#mean = the average value in a set of orders
#median = the middle value when all the values are arranged in sorted order
#mode = the most frequently occuring value.

In [21]:
grades = [85, 93, 45, 89, 85]
sum(grades)/len(grades)

79.4

In [24]:
import statistics
grades = [85, 93, 45, 89, 85]
print(statistics.mean(grades))
print(statistics.median(grades))
print(statistics.mode(grades))

79.4
85
85

In [25]:
grades = [85, 93, 45, 89, 85]
sorted(grades)

[45, 85, 85, 89, 93]

# Check if number is Palindrome or Not

In [8]:
number = int(input("Enter a number you want to check : "))
for i in range(5):
    first_digit = number // 10000
    last_digit = number % 10

    second_digit = (number // 1000) % 10
    fourth_digit = (number // 10) % 10

if first_digit == last_digit and second_digit == fourth_digit:
    print(f"{number} is a palindrome!")
else:
    print(f"{number} is not a palindrome!")

Enter a number you want to check :  45554

45554 is a palindrome!

# Factorial of a number

In [1]:
number = int(input("Enter a number : "))
fact_total = 1

for i in range(number, 0, -1):
    fact_total = fact_total * i
print(fact_total)

Enter a number :  6

720

# Arguments

In [1]:
def average(*args):
    return sum(args)/len(args)

average(5, 10)

7.5

In [4]:
s = "hello"
print(s.upper())
print(s.lower())

HELLO
hello