# What's wrong with this code

In [ ]:

day, high_temprature = ['monday', 87, 65]
# too many values to unpack, it should be like this
# day, high_temprature = ['monday', 85]

ValueError: too many values to unpack (expected 2)

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers[10]
# here there is no value at the index 10 of the list

IndexError: list index out of range

In [ ]:
name = 'amanda'
name[0] = 'A'
#string object does not support iteam assignment

TypeError: 'str' object does not support item assignment

In [18]:
numbers = [1, 2, 3, 4, 5]
numbers[3,4]
# here list index should be a singel integer not a tuple

TypeError: list indices must be integers or slices, not tuple

In [20]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[0] = 'Ariana'
# here also tuple does not support the item assignment thing, you cannot assign anything to 0th index

TypeError: 'tuple' object does not support item assignment

In [22]:
numbers = [1, 2, 3, 4, 5]
numbers.index(10)
# 10 is not there in the list

ValueError: 10 is not in list

In [24]:
numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)
# list only takes one argument at a time to extent the list, here 3 are given

TypeError: list.extend() takes exactly one argument (3 given)

In [ ]:
#what does this code do
def mystery(sequence):
    return sequence == sorted(sequence)

print(mystery([1, 6, 4, 9, 8, 2, 3]))
print(mystery([1, 2, 3, 4]))
#here the fucntions checks whether the argument that is passed is sorted or not

False
True

In [ ]:
lst = [[2, 4, 8], [3, 6, 9]]

counter = 0
for r in range(len(lst)):
    for c in range(len(lst[r])):
        counter += 1
        lst[r][c] = counter

print(lst)

[[1, 2, 3], [4, 5, 6]]
0
1
2