# Passing Lists to Functions

In [54]:
#passing an entire list to functions
def modify_elements(items):
    for i in range(len(items)):
        items[i] *=2

numbers = [10, 3, 5, 7, 9]

modify_elements(numbers)

numbers

[20, 6, 10, 14, 18]

In [56]:
#passing a tuple to a function
def modify_element(items):
    for i in range(len(items)):
        items[i] *= 2

numbers = (10, 2, 5, 7, 9)

modify_element(numbers)

numbers

TypeError: 'tuple' object does not support item assignment

# Sorting Lists

In [58]:
#sorting in ascending order
numbers1 = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 15, 14, 13, 12, 11, 19, 18, 17, 16]
numbers1.sort()
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
#sorting in descending order
numbers1.sort(reverse=True)
numbers1

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
#sorting the string in ascending order
letters = 'jsdilaghfkasd'
ascending_order = sorted(letters)
ascending_order

['a', 'a', 'd', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 's', 's']

In [65]:
#sorting the tuple in ascending order
color = ('red', 'orange', 'yellow', 'green', 'blue')
ascending_order = sorted(color)
ascending_order

['blue', 'green', 'orange', 'red', 'yellow']

In [67]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']
foods.sort()
foods

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

In [68]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']
ascending_order = sorted(foods)
ascending_order

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

# Searching Sequences

In [72]:
# List method "index" tales as am arguments a search key - the value to locate in the list-then seaches through the list from index 0 
# and returns the index of the first element that matches the search key 
numbers2 = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 15, 14, 13, 12, 11, 19, 18, 17, 16]

#index of number 15 would be 10
numbers2.index(15)

10

# Other List Methods

In [73]:
#Inserting an Element at a Specific List Index
color_names = ['oragne', 'blue', 'green']
color_names.insert(0, 'red')
color_names

['red', 'oragne', 'blue', 'green']

In [75]:
#Adding an Element to the End of a List
color_names.append('yello')
color_names

['red', 'oragne', 'blue', 'green', 'yello', 'yello']

In [76]:
#Adding All the Elments of a Sequence to the End of the list
color_names.extend(['violet', 'black'])
color_names

['red', 'oragne', 'blue', 'green', 'yello', 'yello', 'violet', 'black']

In [79]:
sample_list = []
s = 'abc'
sample_list.extend(s)
sample_list

['a', 'b', 'c']

In [80]:
t = (1, 2, 3)
sample_list.extend(t)
sample_list

['a', 'b', 'c', 1, 2, 3]

In [82]:
#or anothe way of adding the tuple to list can be...
sample_list.extend((4, 5, 6))
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

In [85]:
#Removing the First Occurrence of an Element in a list
color_names.remove('yello')
color_names

['red', 'oragne', 'blue', 'yello', 'violet', 'black']

In [87]:
#emptying a list
color_names.clear()
color_names

[]

In [91]:
#Counting the number of occurences of an item in a list
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 1, 4, 3, 3, 3, 2, 3, 3, 2, 2,]
print(responses.count(5))
for i in range(1, 6):
    print(f"{i} appears {responses.count(i)} times in responses")

2
1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

In [93]:
#Reversing a List's Elements
color_names = ['red', 'green', 'yellow', 'orange', 'blue']
color_names.reverse()
color_names

['blue', 'orange', 'yellow', 'green', 'red']

In [96]:
#Copying a list
copied_list = color_names.copy()
copied_list
#or
copied_list1 = color_names[:]
copied_list1

['blue', 'orange', 'yellow', 'green', 'red']

In [107]:
#pracitse
rainbow = ['green', 'orange', 'violet']
rainbow.index('violet')
rainbow.insert(rainbow.index('violet'), 'red')
rainbow.append('yellow')
rainbow.reverse()
rainbow.remove('orange')

rainbow

['yellow', 'violet', 'red', 'green']