# Tuples

In [2]:
student_tuple = 'john', 'Green', 3.3
print(student_tuple)
len(student_tuple)

('john', 'Green', 3.3)

3

In [3]:
time_tuple = (9, 16 ,1 )
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [32]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][1] = 85
print(student_tuple)

('Amanda', 'Blue', [98, 85, 87])

In [6]:
student_tuple1 = ('Amanda', [98, 75, 87])
first_name, grades = student_tuple
print(first_name)
print(grades)

Amanda
[98, 75, 87]

In [13]:
#following code unpacks a string, a list, and a squence produced by range
first, second = 'hi'
print(f"{first} {second}")

number1, number2, number3 = [2,3,5]
print(f"{number1} {number2} {number3}")

number1, number2, number3 = range(10, 40, 10)
print(f"{number1} {number2} {number3}")

h i
2 3 5
10 20 30

In [14]:
#The Preferred mechnaism for accessing an element's index and value is the built-in function #Enumerate
colors = ['Red', 'Orange', 'Green']

list(enumerate(colors))

[(0, 'Red'), (1, 'Orange'), (2, 'Green')]

In [15]:
tuple(enumerate(colors))

((0, 'Red'), (1, 'Orange'), (2, 'Green'))

In [16]:
for index, value in enumerate(colors):
    print(f"{index}: {value}")

0: Red
1: Orange
2: Green

In [20]:
#"""""Displaying a bar chart """""
numbers = [19, 3, 15, 7, 11]
for index, value in enumerate(numbers):
    print(f"{index}: {value:>8}  {"*" * value}")

    0:       19  *******************
    1:        3  ***
    2:       15  ***************
    3:        7  *******
    4:       11  ***********

In [29]:
high_low = ('Monday', 87, 65)
print(f"{high_low[0]} : High = {high_low[1]}, Low = {high_low[2]}")

Monday : High = 87, Low = 65

In [31]:
names = ['Aditya', 'Akshit', 'Manju']
for index, name in enumerate(names):
    print(f"{index}: {name}")

0: aditya
1: akshit
2: manju

# Sequence Slicing

In [35]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [36]:
#specifing a slice with starting and ending indices
numbers[2:6]

[5, 7, 11, 13]

In [38]:
#specifying a slice with only an Ending Index
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [39]:
#specifying a slice with only a starting index
numbers[3:]

[7, 11, 13, 17, 19]

In [42]:
#specifying a slice with NO indices
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [43]:
#Slicing with steps
numbers[::2]

[2, 5, 11, 17]

In [47]:
#Slicing with Negative Indicies and Steps
numbers[::-1]
#or
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [49]:
numbers[0:3] = ['two', 'three', 'five']
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

# del statement

In [14]:
numbers = list(range(0,10))
del numbers[-1]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
#deleting a slice from a list
del numbers[0:2]
numbers

[2, 3, 4, 5, 6, 7, 8]

In [16]:
number = list(range(1,15))
del number[0:4]
number

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [17]:
del number[::2]
number

[6, 8, 10, 12, 14]

#Passing  Lists to Functions

In [18]:
def modify_elements(items):
    for i in range(len(items)):
        items[i] *=2

numbers = [10, 3, 7, 1, 9]
modify_elements(numbers)
print(numbers)

[20, 6, 14, 2, 18]

In [19]:
#Passing Tuple to a Function
numbers_tuple = (10, 3, 7, 1, 9)
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

#Sorting Lists

In [ ]:
#sorting in ascending order
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#sorting in descending order
numbers.sort(reverse=True)
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Build in Function sorted
numbers = [10, 3, 7, 1, 9]
ascending_numbers = sorted(numbers)
print(ascending_numbers)

[1, 3, 7, 9, 10]

In [ ]:
letters = 'fadsfsdffsfse'
ascending_letters = sorted(letters)
print(ascending_letters)

['a', 'd', 'd', 'e', 'f', 'f', 'f', 'f', 'f', 's', 's', 's', 's']

In [ ]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']
foods.sort()
print(foods)

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

#Searching Sequences

In [21]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5)

6

In [24]:
numbers *= 2
print(numbers)

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [28]:
#the following code finds the index of the second occurrence of 5 starting from index 7.
numbers.index(5, 7)

14